
.vs/
.vscode/
*.code-workspace
.idea/

# Build
bin/
obj/
[Bb]uild/
[Bb]uilds/


*.user
*.suo
*.log
*.tlog
*.rsuser
*.sln.docstates
*.pidb
*.pdb


*.localhistory
*.ncrunchsolution
.ncrunchproject
*.ntvs_analysis.dat
node_modules/
npm-debug.log*

*.userosscache

*.bak
*.swp
*.orig
*.old
*~

**/Thumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
*~.tmp
*~.TMP
~$*

# ASP.NET/MVC
*.Publish.xml
*.pubxml
*.publishproj

# NuGet
*.nupkg
*.snupkg
*.symbols.nupkg
.nuget/

packages/
!packages/build/
!packages/repositories.config
project.lock.json


project.fragment.lock.json
artifacts/

project.assets.json
*.dll
*.exe
*.app
*.json
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

.DS_Store

.temp/